body{
  background-color: #E3F0EB;
}

.login a{
  padding: 7px;
}
.login-nav {
  float: right;
  height: 20px;
}
.sidebar{
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.leftnav {
  padding-left: 75px;
  padding-top: 50px;
}

.leftnav li{
  border-left: 1px solid #B2BDB9;
  border-right: 1px solid #B2BDB9;
}

#active{
  color: #E3F0EB;
}

.mainpage{
  background-color: white;
  margin-left: 80px;
  padding: 50px;

}

.panel-success {
  background-color: #FBFFF4;
}

.panel-info{
  background-color: #F6FFFF;
}

.panel-danger{
  background-color: #FFF9FF;
}
